<div class="container mt-5">
  <h3 class="text-warning mb-5">Your Watchlist</h3>


  <div *ngIf="watchlist.length > 0; else noMovies">
    <div class="row">
     
      <div *ngFor="let movie of watchlist" class="col-md-3 mb-4">
        <div class="card movie-card h-100 position-relative">
         
          <img 
            class="card-img-top" 
            style="height: 380px;" 
            [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" 
            [alt]="movie.title">
          
          
          <div class="card-body text-center">
            <h5 class="card-title">{{ movie.title }}</h5>
            
            <div class="d-flex justify-content-between align-items-center mt-3">
              
              <p class="card-text text-muted m-0">{{ movie.release_date | date:'MMM d, y' }}</p>
              
              
              <button 
                class="btn btn-link text-danger" 
                (click)="removeFromWatchlist(movie)">
                <i class="fa-solid fa-xmark" style="color: #b11b1b;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Display this if watchlist is empty -->
  <ng-template #noMovies>
    <div class="text-center">
      <p class="text-muted">Your watchlist is empty.</p>
    </div>
  </ng-template>
</div>
